!!!
%html
  %head
    %title PocketEnterprise
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag :defaults
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    = yield