%p#notice= notice
%p
  %b Contact:
  = @contacts_group.contact
%p
  %b Group:
  = @contacts_group.group
= link_to 'Edit', edit_contacts_group_path(@contacts_group)
|
\#{link_to 'Back', contacts_groups_path}
